<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Listado de Productos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>

        <div class='container'>
            <table class='table table-bordered text-center'>
                <thead>
                    <tr>
                        <td class='bg-primary text-white'>ID</td>
                        <td class='bg-primary text-white'>Nombre</td>
                        <td class='bg-primary text-white'>Descripcion</td>
                        <td class='bg-primary text-white'>Precio</td>
                        <td class='bg-primary text-white'>Stock</td>
                        <td class='bg-primary text-white'>Acciones</td>
                    </tr>
                    <tbody>
                        {%for producto in productos%}
                            <tr>
                                <td> {{producto.id}}</td>
                                <td> {{producto.nombre}}</td>
                                <td> {{producto.descripcion}}</td>
                                <td> {{producto.precio}}</td>
                                <td> {{producto.stock}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
        


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body> 
</html>